.navbar{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
}

.title {
  margin: auto;
  margin-top: 80px;
  text-align: center;
  width: 90%;
  height: 60px;
}

.sub-title {
  margin: auto;
  border-bottom: 2px solid darkblue;
  margin-top: 60px;
  text-align: center;
  width: 90%;
}

.line{
  height: 1px;
  background-color: black;
  width: 100%;
}

.form-group{
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}